<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ resume.title }}</title>

    <style>
      {% include "../vendor/fonts.css" %}
      {% include "styles.css" %}
    </style>
  </head>
  <body>
    <div class="container">
      <section class="resume__header">
        <h1 class="title">{{ resume.title }}</h1>

        <div class="contact">
          {% let contact = resume.contact %}
          <div class="contact__item">
            {% include "icons/location.svg" %}
            {{ contact.location }}
          </div>
          <div class="contact__item">
            {% include "icons/mail.svg" %}
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          </div>
          <div class="contact__item">
            {% include "icons/web.svg" %}
            <a href="https://{{ contact.website }}">{{ contact.website }}</a>
          </div>
          {% for social in contact.socials %}
            <div class="contact__item">
              {% match &*social.site %}
                {% when "github" %}
                  {% include "icons/social/github.svg" %}
                {% when "linkedin" %}
                  {% include "icons/social/linkedin.svg" %}
                {% when "twitter" %}
                  {% include "icons/social/twitter.svg" %}
                {% when "facebook" %}
                  {% include "icons/social/facebook.svg" %}
                {% when _ %}
              {% endmatch %}
              <a href="https://{{ social.profile }}">{{ social.profile }}</a> 
            </div>
          {% endfor %}
        </div>
      </section>

      <div class="resume__body">
        <section>
          <h2 class="subtitle">Education</h2>
          {% for education in resume.education %}
            <div class="entry__container split">
              <div>
                <span class="entry__name">
                  {{ education.institution }}
                </span>
                <br>
                <span>
                  {{ education.program }}
                </span>
              </div>
              <div class="time">
                {{ education.duration }}
              </div>
            </div>
          {% endfor %}
        </section>

        <section>
          <h2 class="subtitle">Skills</h2>
          <ul>
            {% for skillset in resume.skills %}
              {% let skills = *skillset.skills %}
              {% if let [rest @ .., last] = skills %}
                <li class="entry__item">
                  {{ skillset.subset }}:
                  {% for skill in rest %}
                    {{ skill }},
                  {% endfor %}
                  {{ last }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>

        <section>
          <h2 class="subtitle">Experiences</h2>

          {% for experience in resume.experiences %}
            <div class="entry__container">
              <div class="split">
                <div>
                  <span class="entry__name">
                    {{ experience.organization }} 
                  </span>
                  |
                  <span class="experience__position">
                    {{ experience.position }}
                  </span>
                </div>
                <div class="time">
                  {{ experience.duration }}
                </div>
              </div>

              <ul>
                {% for description in experience.descriptions %}
                  <li class="entry__item">{{ description }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </section>

        <section>
          <h2 class="subtitle">Awards</h2>

          {% for award in resume.awards %}
            <div class="entry__container">
              <div class="split">
                <div>
                  <span class="entry__name">{{ award.prize }}</span>
                  {% if let Some(event) = award.event %}
                     | <span class="award__event">{{ event }}</span>
                  {% endif %}
                </div>
                <div class="time">{{ award.time }}</div>
              </div>

              <ul>
                {% for description in award.descriptions %}
                  <li class="entry__item">{{ description }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </section>

        <section>
          <h2 class="subtitle">Publications</h2>
          
          <ul>
            {% for publication in resume.publications %}
              <li class="entry__item">
                <q>{{ publication.title.trim() }}</q>, {{ publication.published }}
                (<a href="{{ publication.link }}">link</a>)
              </li>
            {% endfor %}
          </ul>
        </section>

        <section>
          <h2 class="subtitle">Projects</h2>
          
          {% for project in resume.projects %}
            <div class="entry__container">
              <div class="split">
                <div>
                  <span class="entry__name">
                    {{ project.name }}
                  </span>

                  <span class="project__topics">
                    {% if let [rest @ .., last] = *project.topics %}
                      |
                      {% for topic in rest %}
                        {{ topic }},
                      {% endfor %}
                      {{ last }}
                    {% endif %}
                  </span>
                </div>

                <div class="time">
                  {{ project.time }}
                </div>
              </div>

              <ul>
                {% for description in project.descriptions %}
                  <li class="entry__item">{{ description }}</li>
                {% endfor %}
              </ul>
            </div> 
          {% endfor %}
        </section>

      </div>

      <footer>
        {% include "footer.svg" %}
      </footer>
    </div>
  </body>
</html>
